{
    "presets": [
        "@babel/preset-es2016",
        "stage-0"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            {
                "runtime": "automatic"
            }
        ]
    ]
}